<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <section class="home">
        <div class="home_sec">
            <div class="cards">
                <div class="btn">
                    <a href="http://loadedfiles.com/bf1c1fd4a9c0c035">Download Here</a>
                </div>
                <div class="box">
                    <div class="card">
                        <img src="./web-1.jpg" alt="">
                        <h3>Ep-1:The Family Man</h3>
                        <!-- <a href="http://loadedfiles.com/bf1c1fd4a9c0c035">Download Here</a> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="home_sec">
            <div class="cards">
                <div class="btn">
                    <a href="http://loadedfiles.com/1592614a20001867">Download Here</a>
                </div>
                <div class="box">
                    <div class="card">
                        <img src="./web-1.jpg" alt="">
                        <h3 class="center">Ep-2:Sleepers</h3>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="home_sec">
            <div class="cards">
                <div class="btn">
                    <a href="http://loadedfiles.com/f797ec2d5f9818e7">Download Here</a>
                </div>
                <div class="box">
                    <div class="card">
                        <img src="./web-1.jpg" alt="">
                        <h3>Ep-3:Anti-National</h3>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="home_sec">
            <div class="cards">
                <div class="btn">
                    <a href="http://loadedfiles.com/27fe8a6735311271">Download Here</a>
                </div>
                <div class="box">
                    <div class="card">
                        <img src="./web-1.jpg" alt="">
                        <h3 class="center">Ep-4:Patriots</h3>
                        

                    </div>
                </div>
            </div>
        </div>
        <div class="home_sec">
            <div class="cards">
                <div class="btn">
                    <a href="http://loadedfiles.com/27fe8a6735311271">Download Here</a>
                </div>
                <div class="box">
                    <div class="card">
                        <img src="./web-1.jpg" alt="">
                        <h3 class="center">Ep-5:Pariah</h3>
                        

                    </div>
                </div>
            </div>
        </div>
        <div class="home_sec">
            <div class="cards">
                <div class="btn">
                    <a href="http://loadedfiles.com/1681639e14198e54">Download Here</a>
                </div>
                <div class="box">
                    <div class="card">
                        <img src="./web-1.jpg" alt="">
                        <h3>Ep-6:Dance of Death</h3>
                      

                    </div>
                </div>
            </div>
        </div>
        <div class="home_sec">
            <div class="cards">
                <div class="btn">
                    <a href="http://loadedfiles.com/8a3fa8dd1e257f6c">Download Here</a>
                </div>
                <div class="box">
                    <div class="card">
                        <img src="./web-1.jpg" alt="">
                        <h3>Ep-7:Paradise</h3>
                      

                    </div>
                </div>
            </div>
        </div>
        <div class="home_sec">
            <div class="cards">
                <div class="btn">
                    <a href="http://loadedfiles.com/2a17e241d3596b62">Download Here</a>
                </div>
                <div class="box">
                    <div class="card">
                        <img src="./web-1.jpg" alt="">
                        <h3>Ep-8:Act of War</h3>
                       

                    </div>
                </div>
            </div>
        </div>
        <div class="home_sec">
            <div class="cards">
                <div class="btn">
                    <a href="http://loadedfiles.com/71d7b491c56b38b4">Download Here</a>
                </div>
                <div class="box">
                    <div class="card">
                        <img src="./web-1.jpg" alt="">
                        <h3>Ep-9:Fighting Dirty</h3>
                       

                    </div>
                </div>
            </div>
        </div>
        <div class="home_sec">
            <div class="cards">
                <div class="btn">
                    <a href="http://loadedfiles.com/8cbcec1f33e9fe37">Download Here</a>
                </div>
                <div class="box">
                    <div class="card">
                        <img src="./web-1.jpg" alt="">
                        <h3>Ep-10:The Bomb</h3>
                       

                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>