<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <section class="home">
        <div class="home_sec">
            <div class="cards">
                <div class="btn">
                    <a href="https://new.gdtot.me/file/166230350">Downlaod Here</a>
                </div>
                <div class="box">
                    <div class="card">
                        <img src="./web-1.jpg" alt="">
                        <h3>Ep-1:Exile</h3>
                        <!-- <a href="http://loadedfiles.com/bf1c1fd4a9c0c035">Download Here</a> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="home_sec">
            <div class="cards">
                <div class="btn">
                    <a href="https://new.gdtot.me/file/141950073">Download Here</a>
                </div>
                <div class="box">
                    <div class="card">
                        <img src="./web-1.jpg" alt="">
                        <h3 class="center">Ep-2:Weapon</h3>

                    </div>
                </div>
            </div>
        </div>
        <div class="home_sec">
            <div class="cards">
                <div class="btn">
                    <a href="https://new.gdtot.me/file/94035159">Download Here</a>
                </div>
                <div class="box">
                    <div class="card">
                        <img src="./web-1.jpg" alt="">
                        <h3>Ep-3:Angel of Death</h3>

                    </div>
                </div>
            </div>
        </div>
        <div class="home_sec">
            <div class="cards">
                <div class="btn">
                    <a href="https://new.gdtot.me/file/138876657">Download Here</a>
                </div>
                <div class="box">
                    <div class="card">
                        <img src="./web-1.jpg" alt="">
                        <h3 class="center">Ep-4:Eagle</h3>


                    </div>
                </div>
            </div>
        </div>
        <div class="home_sec">
            <div class="cards">
                <div class="btn">
                    <a href="https://new.gdtot.me/file/120869482">Download Here</a>
                </div>
                <div class="box">
                    <div class="card">
                        <img src="./web-1.jpg" alt="">
                        <h3 class="center">Ep-5:Homecoming</h3>


                    </div>
                </div>
            </div>
        </div>
        <div class="home_sec">
            <div class="cards">
                <div class="btn">
                    <a href="https://new.gdtot.me/file/113722893">Download Here</a>
                </div>
                <div class="box">
                    <div class="card">
                        <img src="./web-1.jpg" alt="">
                        <h3>Ep-6:Martyrs</h3>


                    </div>
                </div>
            </div>
        </div>
        <div class="home_sec">
            <div class="cards">
                <div class="btn">
                    <a href="https://new.gdtot.me/file/99471860">Download Here</a>
                </div>
                <div class="box">
                    <div class="card">
                        <img src="./web-1.jpg" alt="">
                        <h3>Ep-7:Collateral Damage</h3>


                    </div>
                </div>
            </div>
        </div>
        <div class="home_sec">
            <div class="cards">
                <div class="btn">
                    <a href="https://new.gdtot.me/file/118045802">Download Here</a>
                </div>
                <div class="box">
                    <div class="card">
                        <img src="./web-1.jpg" alt="">
                        <h3>Ep-8:Vendetta</h3>


                    </div>
                </div>
            </div>
        </div>
        <div class="home_sec">
            <div class="cards">
                <div class="btn">
                    <a href="https://new.gdtot.me/file/168877957">Download Here</a>
                </div>
                <div class="box">
                    <div class="card">
                        <img src="./web-1.jpg" alt="">
                        <h3>Ep-9:The Final Acty</h3>

                    </div>
                </div>
            </div>
        </div>

    </section>
</body>

</html>