<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="heading">
        <h1> <span id="blue">W</span><span id="purple">e</span>b   <span id="green">Series</span></h1>
    </div>

    <section class="web_home">

        <div class="card_home">
            <div class="content_home">
                <h2>The Family-Man:Season-1</h2>
                <p>The Family Man follows the story of Srikant Tiwari, who works as a senior officer in the Threat Analysis
                    and Surveillance Cell (TASC)</p>
                    <a href="/Download_1"> Download Here </a>
                </div>
                <img src="./web-1.jpg" alt="remote-img">
            </div>
            
            <div class="card_home">
                <div class="content_home">
                    <h2>The Family-Man:Season-2</h2>
                    <p>The Family Man follows the story of Srikant Tiwari, who works as a senior officer in the Threat Analysis
                        and Surveillance Cell (TASC)</p>
                        <a href="/Download_2"> Download Here </a>
                    </div>
                    <img src="./web-1.jpg" alt="remote-img">
                </div>
                
                
            </section>

</body>

</html>